@charset "UTF-8";
/*=================================
  list
=================================*/
.blogList .inner {
  width: 80%;
}

.pc-categoryLinks {
  display: none;
}

.sp-categoryLinks {
  width: 60%;
  text-align: center;
  position: relative;
  margin: 0 auto 12%;
}
.sp-categoryLinks:after {
  content: "▼";
  display: block;
  color: #FFF;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0%, -50%);
  pointer-events: none;
}
.sp-categoryLinks select {
  width: 100%;
  background: #F2902A;
  padding: 5%;
  color: #FFF;
  font-size: 4.8vw;
  box-sizing: border-box;
}

.wp-pagenavi {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 13%;
}
.wp-pagenavi a {
  display: inline-block;
  border: solid 1px #4388D9;
  padding: 1rem 2rem;
  color: #4388D9;
  margin: 0 2px;
  transition: .3s;
}
.wp-pagenavi a:hover {
  opacity: .8;
}
.wp-pagenavi a.nextpostslink, .wp-pagenavi a.previouspostslink {
  color: #FFF;
  background: #4388D9;
}
.wp-pagenavi a.nextpostslink {
  padding: 1rem 1rem 1rem 2rem;
}
.wp-pagenavi a.previouspostslink {
  padding: 1rem 2rem 1rem 1rem;
}
.wp-pagenavi .current {
  display: inline-block;
  color: #FFF;
  border: solid 1px #4388D9;
  background: #4388D9;
  padding: 1rem 2rem;
  margin: 0 2px;
}

.bnrArea {
  margin-top: 20%;
  margin-bottom: 20%;
}
.bnrArea small {
  display: block;
  padding: 0 5%;
}

@media screen and (min-width: 768px) {
  .blogList {
    background: #EDEDED;
    padding: 5% 0;
  }
  .blogList .inner {
    width: 90%;
  }

  .sp-categoryLinks {
    display: none;
  }

  .pc-categoryLinks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
  }
  .pc-categoryLinks .categoryLink {
    display: flex;
    font-size: 1.40625vw;
  }
  .pc-categoryLinks .categoryLink li {
    font-weight: bold;
  }
  .pc-categoryLinks .categoryLink li:after {
    content: "|";
    display: inline-block;
    color: #707070;
    margin: 0 1.5rem;
  }
  .pc-categoryLinks .categoryLink li:last-child:after {
    content: none;
  }
  .pc-categoryLinks .categoryLink li.current a {
    border-bottom: solid 3px #F2902A;
  }
  .pc-categoryLinks .categoryLink li:hover a {
    border-bottom: solid 3px #F2902A;
  }

  .wp-pagenavi {
    padding-top: 5%;
  }

  .bnrArea {
    width: 46%;
    max-width: 518px;
    margin: 8% auto;
  }
  .bnrArea img {
    transition: .3s;
  }
  .bnrArea img:hover {
    opacity: .8;
  }
  .bnrArea small {
    padding: 0;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  .pc-categoryLinks .categoryLink {
    font-size: 18px;
  }
}
/*=================================
  detail
=================================*/
.blogWrap {
  width: 100%;
  max-width: 880px;
  margin: 0 auto 20%;
}

.blogMain {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 6%;
}
.blogMain:before {
  content: "";
  display: block;
  padding-top: 65%;
}
.blogMain img {
  width: 100%;
  max-width: none;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blogInner {
  width: 90%;
  max-width: 600px;
  margin: 0 auto 12%;
}

.blogHead {
  margin-bottom: 10%;
}
.blogHead .date {
  display: inline-block;
  font-weight: bold;
  font-size: 5.8666666667vw;
  vertical-align: middle;
}
.blogHead .cate {
  display: inline-block;
  color: #FFF;
  padding: 2px 1.5rem;
  margin-left: 2rem;
  vertical-align: middle;
}
.blogHead .blogTtl {
  font-size: 5.3333333333vw;
  font-weight: bold;
  padding-bottom: 1rem;
  border-bottom: solid 2px #4388D9;
  margin-bottom: 2rem;
}
.blogHead .hashTag {
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.blogHead .hashTag li {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.blogHead .hashTag li a {
  display: inline-block;
  border: solid 1px #4388D9;
  border-radius: 30px;
  padding: 0 1rem;
  color: #4388D9;
  transition: .3s;
}
.blogHead .hashTag li a:hover {
  opacity: .8;
}

.blogBody .wp-video {
  margin: 6% 0;
}
.blogBody img {
  width: 100% !important;
  height: auto !important;
}
.blogBody p > img, .blogBody .wp-caption {
  margin: 6% 0;
}
.blogBody a {
  text-decoration: underline;
  color: #2680EB;
}
.blogBody .wp-caption-text {
  color: #707070;
}
.blogBody h1, .blogBody h2 {
  font-size: 4.8vw;
  font-weight: bold;
  border-left: solid 4px #4388D9;
  padding-left: 1rem;
  margin: 12% 0 6%;
}
.blogBody h3 {
  font-size: 4.8vw;
  font-weight: bold;
  margin: 12% 0 6%;
}
.blogBody .writerArea {
  border: solid 1px #4C4C4C;
  box-sizing: border-box;
  margin-top: 17%;
}
.blogBody .writerArea .is-flex {
  align-items: flex-start;
  padding: 5%;
}
.blogBody .writerArea .thumb {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
.blogBody .writerArea .thumb:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.blogBody .writerArea .thumb img {
  width: 100%;
  max-width: none;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blogBody .writerArea .txt h3 {
  font-weight: normal;
  margin: 0 0 1rem;
}
.blogBody .writerArea .txt .name {
  font-weight: bold;
  font-size: 5.3333333333vw;
  margin-bottom: 1rem;
}
.blogBody .writerArea .link a {
  display: inline-block;
  width: 100%;
  color: #FFF;
  background: #4388D9;
  padding: 3% 5%;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  position: relative;
  text-decoration: none;
  transition: .3s;
}
.blogBody .writerArea .link a:hover {
  opacity: .8;
}
.blogBody .writerArea .link a:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 0px;
  border-top: 4px solid #FFF;
  border-right: 4px solid #FFF;
  transform: rotate(45deg);
  transition: .3s;
  vertical-align: middle;
  margin-right: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  margin: auto;
}
.blogBody .snsSare {
  margin: 8% auto;
  text-align: center;
}

.blogBody > *:first-child {
  margin-top: 0;
}

.formWrap .note {
  background: #fdf4cd;
  padding: 2rem;
  margin-top: 5rem;
}

.detailPager {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.detailPager div {
  width: 50%;
  transition: .3s;
}
.detailPager div:hover {
  opacity: .8;
}
.detailPager div a {
  color: #4388D9;
  font-size: 3.2vw;
}
.detailPager div a span {
  display: inline-block;
  padding: 1rem 1rem 1rem 1.5rem;
  background: #4388D9;
  color: #FFF;
  margin-left: .5rem;
}
.detailPager div.prev a span {
  padding: 1rem 1.5rem 1rem 1rem;
  margin-left: 0;
  margin-right: .5rem;
}
.detailPager div.next {
  text-align: right;
}

.recommend {
  background: #EDEDED;
  padding: 12% 0%;
  margin-bottom: 32%;
}
.recommend h4 {
  font-weight: bold;
  border-left: solid 4px #4388D9;
  padding-left: 1rem;
  font-size: 5.8666666667vw;
  margin-bottom: 10%;
  line-height: 1.0;
}
.recommend .thumb {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}
.recommend .thumb:before {
  content: "";
  display: block;
  padding-top: 62%;
}
.recommend .thumb img {
  width: 100%;
  max-width: none;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.recommend .thumb .cate {
  display: inline-block;
  color: #FFF;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 .5em;
  font-size: 3.7333333333vw;
}
.recommend .date {
  font-weight: bold;
  font-size: 3.2vw;
}
.recommend .ttl {
  font-weight: bold;
  font-size: 4.2666666667vw;
}
.recommend li {
  position: relative;
  transition: .3s;
}
.recommend li:hover {
  opacity: .8;
}
.recommend li a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .blogWrap {
    margin-bottom: 8%;
  }

  .blogHead {
    margin-bottom: 4%;
  }
  .blogHead .date {
    font-size: 1.71875vw;
  }
  .blogHead .blogTtl {
    font-size: 2.1875vw;
  }

  .blogBody h1, .blogBody h2 {
    font-size: 1.71875vw;
  }
  .blogBody h3 {
    font-size: 1.5625vw;
  }
  .blogBody p {
    font-size: 1.40625vw;
  }
  .blogBody .wp-caption-text {
    font-size: 1.25vw;
  }
  .blogBody .writerArea {
    margin-top: 10%;
  }
  .blogBody .writerArea .txt h3 {
    font-size: 1.40625vw;
  }
  .blogBody .writerArea .txt .name {
    font-size: 1.796875vw;
  }
  .blogBody .writerArea .link a {
    font-size: 1.40625vw;
  }
  .blogBody .snsSare {
    margin: 6% auto;
  }

  .detailPager div a {
    font-size: 1.09375vw;
  }

  .recommend {
    background: #EDEDED;
    padding: 2% 0%;
    margin-bottom: 7%;
  }
  .recommend h4 {
    font-size: 1.875vw;
    margin-bottom: 2%;
  }
  .recommend .thumb .cate {
    font-size: 1.25vw;
  }
  .recommend .date {
    font-size: 1.09375vw;
  }
  .recommend .ttl {
    font-size: 1.40625vw;
  }
}
@media screen and (min-width: 1280px) {
  .blogHead .date {
    font-size: 22px;
  }
  .blogHead .blogTtl {
    font-size: 28px;
  }

  .blogBody h1, .blogBody h2 {
    font-size: 22px;
  }
  .blogBody h3 {
    font-size: 20px;
  }
  .blogBody p {
    font-size: 18px;
  }
  .blogBody .wp-caption-text {
    font-size: 16px;
  }
  .blogBody .writerArea .txt h3 {
    font-size: 18px;
  }
  .blogBody .writerArea .txt .name {
    font-size: 23px;
  }
  .blogBody .writerArea .link a {
    font-size: 18px;
  }

  .detailPager div a {
    font-size: 14px;
  }

  .recommend .thumb .cate {
    font-size: 16px;
  }
  .recommend .date {
    font-size: 14px;
  }
  .recommend .ttl {
    font-size: 18px;
  }
}
/*=================================
  commentForm
=================================*/
.commentForm {
  margin-bottom: 12%;
}
.commentForm .comment-reply-title {
  font-weight: bold;
  border-left: solid 4px #4388D9;
  padding-left: 1rem;
  font-size: 4.8vw;
  margin-bottom: 6%;
}
.commentForm .comment-form {
  width: 100%;
  max-width: 500px;
  margin: 0px auto 12%;
}
.commentForm .comment-form p {
  margin-bottom: 1.5rem;
}
.commentForm .comment-form .captcha-txt {
  margin-bottom: 1rem;
}
.commentForm input, .commentForm button, .commentForm textarea, .commentForm select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: solid 1px #000;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}
.commentForm .comment-form-comment label {
  display: none;
}
.commentForm .comment-form-captcha img {
  width: auto;
}
.commentForm #comment_captcha_code {
  width: 50%;
}
.commentForm input[type="submit"] {
  line-height: 1.8;
  background: #F2902A;
  border: none;
  color: #FFF;
  margin-top: 12%;
  cursor: pointer;
  transition: .3s;
  font-size: 4.8vw;
}
.commentForm input[type="submit"]:hover {
  opacity: .8;
}
.commentForm .comments-count {
  font-weight: bold;
  font-size: 4.8vw;
  margin-bottom: 10%;
}
.commentForm .comments-list {
  border-top: solid 1px #999;
}
.commentForm .comments-list li {
  border-bottom: solid 1px #999;
  padding: 5% 0;
}
.commentForm .comments-list li .children li {
  border-top: dashed 1px #ccc;
  border-bottom: 0;
  margin-top: 5%;
  padding: 5% 0 0;
}
.commentForm .comments-list li .children li .comment-list-wrap {
  border-left: solid 4px #ccc;
  padding-left: 5%;
  margin-left: 5%;
}
.commentForm .comments-list .comment-author {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.commentForm .comments-list .comment-author .comment-avatar {
  width: 20%;
  max-width: 50px;
  margin-right: 1rem;
}
.commentForm .comments-list .comment-author .comment-avatar img {
  height: auto;
}
.commentForm .comments-list .comment-author .comment-name cite {
  font-weight: bold;
  font-style: normal;
}
.commentForm .comments-list .comment-listCon .comment-meta {
  font-size: 4.2666666667vw;
  text-align: right;
}
.commentForm .comments-list .comment-listCon .reply {
  text-align: right;
}
.commentForm .comments-list .comment-listCon .reply a {
  color: #4388D9;
  text-decoration: underline;
}
.commentForm .comments-list .comment-listCon .reply a:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 0px;
  border-top: 1px solid #4388D9;
  border-right: 1px solid #4388D9;
  transform: rotate(45deg);
  margin-left: 1rem;
  margin-top: -2px;
}

@media screen and (min-width: 768px) {
  .commentForm .comment-reply-title {
    font-size: 1.71875vw;
  }
  .commentForm input[type="text"] {
    width: 50%;
  }
  .commentForm input[type="submit"] {
    margin-top: 6%;
    font-size: 1.5625vw;
  }
  .commentForm .comments-count {
    font-size: 1.40625vw;
    margin-bottom: 3%;
  }
  .commentForm .comments-list .comment-listCon .comment-meta {
    font-size: 1.25vw;
  }
}
@media screen and (min-width: 1280px) {
  .commentForm .comment-reply-title {
    font-size: 22px;
  }
  .commentForm input[type="submit"] {
    font-size: 20px;
  }
  .commentForm .comments-count {
    font-size: 18px;
  }
  .commentForm .comments-list .comment-listCon .comment-meta {
    font-size: 16px;
  }
}
/*=================================
  search
=================================*/
.searchBox .searchform {
  width: 100%;
  max-width: 300px;
  display: flex;
  border: 2px solid #BAB8B7;
  margin: 0 auto;
  box-sizing: border-box;
}
.searchBox .searchform .inputArea {
  width: calc(100% - 2em);
  padding: 1rem;
}
.searchBox .searchform .submitBtn {
  border: none;
  background: #E6E6E6;
  cursor: pointer;
}
.searchBox .searchform .submitBtn span {
  width: 2em;
  height: 2em;
  display: block;
  background: url("../img/blog/icon-search.png") no-repeat center center;
  background-size: 60%;
}

@media screen and (min-width: 768px) {
  .searchBox .searchform {
    margin: 0 0 0 auto;
  }
}
