@charset "UTF-8";
.secondaryInner .txt {
  margin-bottom: 14%;
  font-size: 4.8vw;
}

.red {
  color: #FF0000;
  font-size: .8em;
}

.contactWrap {
  margin-bottom: 14%;
}
.contactWrap table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  margin-bottom: 2rem;
}
.contactWrap table th, .contactWrap table td {
  width: 100%;
  display: block;
  text-align: left;
}
.contactWrap table th {
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-size: 4.8vw;
}
.contactWrap table .ex {
  font-size: .8em;
  margin-top: 1rem;
}
.contactWrap.confirm .ex {
  display: none;
}

@media screen and (min-width: 768px) {
  .secondaryInner .txt {
    margin-bottom: 4%;
    font-size: 1.40625vw;
  }

  .contactWrap {
    margin-bottom: 6%;
  }
  .contactWrap table th {
    font-size: 1.40625vw;
  }
}
@media screen and (min-width: 1280px) {
  .secondaryInner .txt {
    font-size: 18px;
  }

  .contactWrap table th {
    font-size: 18px;
  }
}
/*====================================
  form
====================================*/
input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: solid 1px #999;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.4;
}

input {
  border-radius: 7px;
}

textarea {
  width: 100% !important;
  min-height: 300px;
}

/*---　radio　---*/
.radio-btns input[type=radio].radio-btns__item {
  display: none;
}

.radio-btns label {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  line-height: 2.4;
}

.radio-btns .radio-btns__item + span {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 1em;
  display: inline-block;
  position: relative;
  border-radius: 7px;
  background: #F2F2F2;
  border: solid 1px #999;
  cursor: pointer;
}

/* checked状態 */
.radio-btns .radio-btns__item:checked + span {
  color: #FFF;
  background: #2680EB;
  border: solid 1px #2680EB;
}

.submitBtn {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  transition: .3s;
}
.submitBtn:hover {
  opacity: .8;
}
.submitBtn input[type="submit"], .submitBtn button {
  width: 100%;
  display: inline-block;
  padding: 5% 0;
  position: relative;
  transition: .3s;
  box-sizing: border-box;
  color: #FFF;
  background: #2680EB;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.submitBtn.back input[type="submit"], .submitBtn.back button {
  background: #F2F2F2;
  border: solid 1px #999;
  color: #000;
}
.submitBtn.back:hover input[type="submit"], .submitBtn.back:hover button {
  background: #999;
  color: #FFF;
}

.submitBtn + .submitBtn {
  margin-top: 2rem;
}

@media screen and (max-width: 767px) {
  .mw_wp_form .horizontal-item + .horizontal-item {
    margin-left: 0 !important;
  }

  .mwform-checkbox-field label, .mwform-radio-field label {
    margin-bottom: 1rem !important;
  }

  input[type="text"].tel {
    width: 25% !important;
  }
}
@media screen and (min-width: 768px) {
  .w1 {
    max-width: 380px;
  }

  .w2 {
    max-width: 160px;
  }

  .radio-btns label {
    width: auto;
    margin-bottom: 0;
  }
}
