@charset "UTF-8";
@media screen and (min-width: 768px) {
  header {
    background: none;
    pointer-events: none;
  }
  header h1 {
    pointer-events: auto;
  }

  .mainContents {
    padding-top: 3%;
  }
}
/*=================================
  sec-fv
=================================*/
.sec-fv {
  position: relative;
  height: 100vh;
  /* カスタムプロパティ未対応ブラウザ用のフォールバック */
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
.sec-fv h2 {
  width: 48%;
  max-width: 200px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec-fv .videoArea {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.sec-fv .videoArea .video {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 177.77777778vh;
  height: 56.25vw;
  min-height: 100%;
  min-width: 100%;
}
.sec-fv .wave {
  position: absolute;
  left: 0;
  width: 300vw;
  height: 5vw;
  max-height: 63px;
}
.sec-fv .wave.wave01 {
  background: url("../img/index/wave01.png") repeat-x bottom;
  background-size: contain;
  z-index: 3;
  bottom: -1px;
  animation: wave 50s 0s infinite ease-in-out;
}
.sec-fv .wave.wave02 {
  background: url("../img/index/wave02.png") repeat-x bottom;
  background-size: contain;
  z-index: 2;
  bottom: 3px;
  animation: wave 45s 0s infinite ease-in-out;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .sec-fv {
    height: 0;
    padding-top: 54%;
  }
  .sec-fv h2 {
    width: 22%;
    max-width: 281px;
  }
}
/*=================================
  pcIndexNav
=================================*/
.pcIndexNav{
  position: relative;
  z-index: 10;
  margin-bottom: 6rem;
}
.pcIndexNav .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: initial;

}
.pcIndexNav .inner .nav {
  display: flex;
  align-items: center;
}
/* .pcIndexNav .inner .nav li { */
.nav__list{
  margin-right: 4rem;
  font-weight: bold;
  font-size: calc(22 / 1280 * 100vw);
  position: relative;
  /* padding-bottom: 10px; */
}
/* .pcIndexNav .inner .nav li:hover a { */
.nav__list:hover > a {
  border-bottom: solid 3px #4388D9;
}
.pcIndexNav .inner ul.sns li {
  margin-right: 2rem;
  max-width: 36px;
  transition: .3s;
}
.pcIndexNav .inner ul.sns li:hover {
  opacity: .8;
}
.pcIndexNav .inner ul.sns li.youtube {
  max-width: 153px;
}

.nav {
    display: flex;
}
.nav__list {
    position: relative;
    transition: all .3s;
}
.nav__list:hover {
}
.nav__list:hover::before {
    background-color: #0071BB;
}
.nav__list a {
  margin-bottom: 8px;
  display: block;
  border-bottom: 3px solid transparent;
}

.nav__list:hover a {
}

.dropdown__lists {
   visibility: hidden;/*デフォルトでは非表示の状態にしておく*/
    opacity: 0;/*不透明度0*/
    transition: all .3s;/*表示の変化を0.3秒に指定*/
  /* display: none; */
    width: 26rem;
    position: absolute;
    /* top: 0; */
    left: 0;
}

.nav__list:hover .dropdown__lists {
    /* display: block; */
    visibility: visible;
    opacity: 1;
}

.dropdown__list {
    background-color: #8CBEE8;
    transition: all .3s;
    position: relative;
    padding: 10px 27px;
    /* font-weight: 500; */
}

.dropdown__list:hover {
    background-color: #0071BB;
}

.dropdown__list a {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  /* font-size: calc(16 / 1280 * 100vw); */
  font-size: 16px;
  margin-bottom: 0;
}

.dropdown__list a::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: translateY(-50%) rotate(135deg);
  position: absolute;
  right: 0;
  top: 50%;
}

@media screen and (min-width: 1280px) {
  .pcIndexNav .inner ul li {
    font-size: 20px;
  }
}
/*=================================
  sec-intro
=================================*/
.sec-intro .inner {
  width: 100%;
}
.sec-intro .txtArea {
  display: flex;
  justify-content: center;
  margin-bottom: 17%;
}
.sec-intro .txtArea .catch {
  writing-mode: vertical-rl;
  font-size: 5.8666666667vw;
  font-weight: bold;
}

.top-illust__img--tara {
  width: 7.3rem;
  aspect-ratio: 73 / 26;
}

.top-illust__img--hotate {
  width: 5.3rem;
  aspect-ratio: 53 / 58;
  margin-right: 2rem;
}

.top-illust__img--konbu {
  width: 3.4rem;
  aspect-ratio: 34 / 58;
}

.top-illust__img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@media screen and (min-width: 768px) {
  .sec-intro {
    padding-top: 6%;
  }
  .sec-intro .inner {
    max-width: inherit;
  }
  .sec-intro .wrap {
    display: flex;
    justify-content: flex-end;
  }
  .sec-intro .txtArea {
    width: 37.5%;
    margin-bottom: 0;
  }
  .sec-intro .txtArea .catch {
    font-size: 2.34375vw;
  }
  .sec-intro .imgArea {
    /* width: 62.5%; */
    width: 80%;
  }
}
/*=================================
  sec-post
=================================*/
.sec-post {
  margin-bottom: 17%;
}
.sec-post .ttlArea {
  position: relative;
  margin-bottom: 6%;
}
.sec-post .ttlArea div {
  width: 30%;
  position: absolute;
  top: 0;
  left: 3%;
}
.sec-post .ttlArea h2 {
  color: #4388D9;
  font-weight: bold;
  text-align: center;
  font-size: 12.5333333333vw;
  line-height: 1.2;
  padding-top: 4%;
}
.sec-post .ttlArea h2 span {
  display: block;
  font-size: .4em;
}

@media screen and (min-width: 768px) {
  .sec-post {
    margin-bottom: 10%;
  }
  .sec-post .ttlArea {
    margin-bottom: 4%;
  }
  .sec-post .ttlArea div {
    width: 16%;
    max-width: 183px;
    left: 50%;
    margin-left: -25%;
  }
  .sec-post .ttlArea h2 {
    font-size: 6.25vw;
    padding-top: 2%;
  }
}
@media screen and (min-width: 1280px) {
  .sec-post .ttlArea h2 {
    font-size: 80px;
  }
}
/*=================================
  sec-news
=================================*/
.sec-news {
  background: url("../img/index/news_bg.jpg") no-repeat top center;
  background-size: cover;
  padding: 17% 0;
}
.sec-news .inner {
  background: #FFF;
  box-sizing: border-box;
  padding: 8% 5%;
}
.sec-news .blk {
  width: 100%;
}
.sec-news .newsBlk {
  margin-bottom: 20%;
}
.sec-news .ttlArea {
  position: relative;
}
.sec-news .ttlArea div {
  width: 30%;
  position: absolute;
  top: 0;
  left: 3%;
}
.sec-news .ttlArea h2 {
  color: #4388D9;
  font-weight: bold;
  text-align: center;
  font-size: 12.5333333333vw;
}
.sec-news h3 {
  color: #4388D9;
  text-align: center;
  font-weight: bold;
  font-size: 6.4vw;
  margin-bottom: 10%;
}
.sec-news .newsList {
  border-top: solid 1px #4388D9;
  margin-bottom: 16%;
}
.sec-news .newsList li {
  border-bottom: solid 1px #4388D9;
  padding: 6% 0;
  position: relative;
}
.sec-news .newsList li a {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.sec-news .newsList .newsCate {
  color: #FFF;
  display: inline-block;
  background: #8EC3EB;
  border-radius: 12px;
  line-height: 1.0;
  padding: 2% 3%;
  margin-bottom: 1rem;
  font-size: 3.7333333333vw;
  white-space: nowrap;
}
.sec-news .newsList .date {
  color: #005C95;
  font-weight: bold;
  margin-bottom: 1rem;
}
.sec-news .newsList .txt {
  color: #005C95;
}
.sec-news .btn {
  width: 100%;
}
.sec-news .btn a {
  font-size: 4.2666666667vw;
}

@media screen and (min-width: 768px) {
  .sec-news {
    padding: 6% 0;
  }
  .sec-news .inner {
    padding: 3%;
  }
  .sec-news .is-flex {
    justify-content: space-between;
  }
  .sec-news .blk {
    width: calc(8.333333% * 6 - 3%);
  }
  .sec-news .newsBlk {
    margin-bottom: 0;
  }
  .sec-news .ttlArea {
    margin-bottom: 2%;
  }
  .sec-news .ttlArea div {
    width: 16%;
    max-width: 183px;
    left: 50%;
    margin-left: -25%;
  }
  .sec-news .ttlArea h2 {
    font-size: 6.25vw;
  }
  .sec-news h3 {
    font-size: 2.5vw;
    margin-bottom: 6%;
  }
  .sec-news .newsList {
    margin-bottom: 14%;
  }
  .sec-news .newsList li {
    padding: 4% 0 3%;
    transition: .3s;
  }
  .sec-news .newsList li:hover {
    opacity: .8;
  }
  .sec-news .newsList .wrap {
    display: table;
  }
  .sec-news .newsList .newsCate {
    font-size: 1.40625vw;
    padding: 1% 2%;
  }
  .sec-news .newsList .date {
    display: table-cell;
    padding-right: 1.5rem;
  }
  .sec-news .newsList .txt {
    display: table-cell;
    font-size: 1.40625vw;
  }
  .sec-news .btn {
    width: 100%;
  }
  .sec-news .btn a {
    font-size: 1.40625vw;
  }
}
@media screen and (min-width: 1280px) {
  .sec-news .ttlArea h2 {
    font-size: 80px;
  }
  .sec-news h3 {
    font-size: 32px;
  }
  .sec-news .newsList .newsCate {
    font-size: 18px;
  }
  .sec-news .newsList .txt {
    font-size: 18px;
  }
  .sec-news .btn a {
    font-size: 18px;
  }
}
/*=================================
  sec-about
=================================*/
.sec-about.sec{
  margin-top: 10%;
}
.sec-about .img {
  margin-bottom: 13rem;
  /* margin-bottom: 12%; */
}
.sec-about .forewordBlk {
  margin-bottom: 23%;
}
.sec-about .forewordBlk h2 {
  text-align: center;
  font-weight: bold;
  font-size: 6.4vw;
  margin-bottom: 2rem;
}
.sec-about .forewordBlk .txt {
  width: 90%;
  margin: 0 auto 2rem;
}
.sec-about .forewordBlk .txt b {
  display: block;
  text-align: center;
}
.sec-about .forewordBlk .bnr img {
  margin-bottom: 1rem;
}
.sec-about .forewordBlk .bnr small {
  width: 90%;
  margin: 0 auto;
  display: block;
  line-height: 1.4;
}
.sec-about .wrap .txt {
  width: 90%;
  margin: 0 auto 13%;
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .sec-about.sec{
    margin-top: initial;
  }
  .sec-about .img {
    margin-bottom: 10%;
  }
  .sec-about .forewordBlk {
    width: 67%;
    margin: 0 auto 10%;
  }
  .sec-about .forewordBlk h2 {
    font-size: 2.5vw;
  }
  .sec-about .forewordBlk .txt {
    width: auto;
    font-size: 1.40625vw;
  }
  .sec-about .forewordBlk .bnr {
    width: 68%;
    margin: 0 auto;
  }
  .sec-about .forewordBlk .bnr img {
    transition: .3s;
  }
  .sec-about .forewordBlk .bnr img:hover {
    opacity: .8;
  }
  .sec-about .forewordBlk .bnr small {
    width: auto;
    text-align: center;
  }
  .sec-about .wrap {
    margin-bottom: 9%;
  }
  .sec-about .wrap.is-flex.gutters.is-offset {
    margin-left: -2.72%;
  }
  .sec-about .wrap .col {
    margin-bottom: 0;
  }
  .sec-about .wrap h2 {
    font-weight: bold;
    font-size: 2.5vw;
    margin-bottom: 2rem;
  }
  .sec-about .wrap .txt {
    width: 84%;
    margin: 0 auto 16% 0;
    font-size: 1.40625vw;
  }
}
@media screen and (min-width: 1280px) {
  .sec-about .forewordBlk h2 {
    font-size: 32px;
  }
  .sec-about .forewordBlk .txt {
    font-size: 18px;
  }
  .sec-about .wrap h2 {
    font-size: 32px;
  }
  .sec-about .wrap .txt {
    font-size: 18px;
  }
}
/*=================================
  pcIndexNav
=================================*/
.sec-links.sec {
  padding-top: 6%;
}

.sec-links ul {
  width: 100%;
  overflow: hidden;
  margin-bottom: -18%;
}
.sec-links ul li {
  margin-bottom: 8%;
}
/* .sec-links ul li .img {
  margin-bottom: 8%;
} */
.sec-links ul li .txt {
  padding-left: 5%;
}
.sec-links ul li .txt h2 {
  color: #2680EB;
  font-weight: bold;
  margin-bottom: 8%;
  position: relative;
  font-size: 6.4vw;
}
.sec-links ul li .txt h2 span {
  display: inline-block;
  background: #FFF;
  z-index: 1;
  position: relative;
  padding-right: 1rem;
}
.sec-links ul li .txt h2:after {
  content: "";
  display: block;
  width: 200%;
  height: 2px;
  background: #2680EB;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}
.sec-links ul li .txt p {
  margin-bottom: 8%;
  padding-right: 5%;
}
.sec-links ul li .txt .btn-more {
  margin: 0 auto;
  max-width: 190px;
}

@media screen and (min-width: 768px) {
  .sec-links.sec {
    margin-top: 0;
    padding-top: 0;
  }
  .sec-links ul {
    margin-bottom: -8%;
    display: flex;
  }
  .sec-links ul li {
    /* width: 95%; */
    width: 50%;
    max-width: calc(100% - (50% - 560px));
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    margin-bottom: 8%;
  }
  .sec-links ul li .img {
    /* width: 50%; */
    margin-bottom: 0;
    z-index: 1;
  }
  .sec-links ul li .txt {
    width: 45%;
    box-sizing: border-box;
    padding-left: 0;
  }
  .sec-links ul li .txt h2 {
    margin-bottom: 5%;
    font-size: 2.5vw;
  }
  .sec-links ul li .txt p {
    padding-right: 0;
    font-size: 1.40625vw;
  }
  .sec-links ul li .txt .btn-more {
    margin: 0 auto 0 0;
  }
  .sec-links ul li:nth-child(even) {
    flex-direction: row-reverse;
    margin: 0 0 8% auto;
  }
}
@media screen and (min-width: 1280px) {
  .sec-links ul li .txt h2 {
    font-size: 32px;
  }
  .sec-links ul li .txt p {
    font-size: 18px;
  }
}
/*=================================
  snsBlk
=================================*/
.snsBlk {
  padding-top: 13%;
}

/*=================================
  bottomLinks
=================================*/
.bottomLinks {
  padding: 3% 0;
  margin-bottom: 0;
}

/* .mainContents.top{
  padding-top: 0;
} */


/*=================================
  sec-shikabe
=================================*/
.sec-shikabe{
  background-color: #FDF4CD;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}

.sec-shikabe .wrap{
  padding: 13rem 5% 6rem;
}

.sec-shikabe__title-wrap{
  text-align: center;
}

.sec-shikabe__title{
  font-size: 3.6rem;
  color: #F2902A;
  text-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.sec-shikabe__title span{
  font-size: 2.6rem;
  display: block;
  line-height: 1;
  margin-bottom: 0.2em;
}

.sec-shikabe__map{
  margin-top: 5.5rem;
}

.sec-shikabe__feature{
  margin-top: 7rem;
}

.shikabe-map__img{
  margin-top: 2.3rem;
  margin-left: auto;
  margin-right: 0;
  width: 44.4rem;
  aspect-ratio: 444 / 398;
}
.shikabe-map__img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.where-text{
  font-size: 2.4rem;
  line-height: 1.5;
  text-shadow: 0 3px 6px rgba(0,0,0,0.16);
  white-space: nowrap
}

.where-link{
  margin-top: 1rem;
  font-size: 1.6rem;
  color: #4388D9;
  display: block;
  transition: 0.3s;
}

.where-link:hover{
  opacity: 0.8;
}

.feature__img-wrap{
  position: relative;
  margin-top: 2.6rem;
}
.feature__img{
  border: 5px solid #fff;
  width: calc(211 / 375 * 100vw);
  aspect-ratio: 211 / 141;
}
.eat__img{
  border: 5px solid #fff;
  width: calc(211 / 375 * 100vw);
  aspect-ratio: 211 / 141;
}

.eat__img--right{
  margin-top: 3rem;
  margin-left: auto;
  margin-right: 0;
}
.eat__img--left{
  position: relative;
  z-index: 2;
  margin-top: -4rem;
}
.feature__img--right{
  margin-left: auto;
  margin-right: 0;
}
.sec-shikabe__feature2{
  margin-top: 6rem;
}

.sec-intro.sec {
  padding-top: 0;
}


.top-illust__wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1120px;
  margin: 0 auto 10%;
}

.nav-illust__img{
  margin: 0 70px 10px 0;
}

.feature-illust{
  position: absolute;
}
.feature-illust--tara{
  width: 13.6rem;
  aspect-ratio: 136 / 49;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.feature-illust--hotate{
  width: 10.8rem;
  aspect-ratio: 108 / 105;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.feature-illust--konbu{
  width: 6.6rem;
  aspect-ratio: 66 / 110;
  right: 0;
  bottom:0;
}
.feature-illust img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .sec-shikabe .wrap{
    padding: 7rem 2% 6rem;
  }
  .sec-shikabe__title{
    font-size: 4.8rem;
  }

  .sec-shikabe__title span{
    font-size: 3rem;
  }
  .sec-shikabe__map{
    display: flex;
    margin-top: 6rem;
    justify-content: flex-end;

  }

  .shikabe-map__text-wrap{
    margin-top: 8rem;
  }

  .shikabe-map__img{
    width: 100%;
    max-width: 64.8rem;
    aspect-ratio: 648 / 560;
    margin-top: 0;
    margin-left: -3rem;
  }


  .where-text{
    font-size: min(3rem, calc(30 / 1280 * 100vw));
  }

  .where-link__wrap{
    margin-top: min(2rem ,calc(20 / 1280 * 100vw));
  }
  .where-link{
    font-size: min(2rem ,calc(20 / 1280 * 100vw));
    /* font-size: 2rem; */
    line-height: 2;
    margin-top: 0;
  }
  .sec-shikabe__feature{
    display: flex;
    max-width: 86rem;
    margin: auto;
    margin-top: 7rem;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    position: relative;
  }

  .feature__text-wrap{
    /* width: calc(400 / 1280 * 100vw); */
    width: 40rem;
    max-width: calc(400 / 1280 * 100vw);
    /* margin-left: auto; */
    margin-left: min(40px , calc(40 / 1280 * 100vw));
  }


  .feature__img-wrap{
    position: relative;
    margin-top: 0;
  }
  .feature__img-wrap--hotate{
    position: relative;
    z-index: 2;
    margin-top: -3rem;
    margin-left: 1rem;
  }
  .feature__img-wrap--konbu {
    margin-right: -5rem;
    margin-left: 5rem;
    margin-top: 3rem;
  }
  .feature__img{
    /* width: calc(400 / 1280 * 100vw); */
    width: 40rem;
    max-width: calc(400 / 1280 * 100vw);
    border: min(10px ,calc(10 / 1280 * 100vw)) solid #fff;
  }

  .feature-illust--tara{
    top: -1rem;
    left: -10rem;
  }

  .feature-illust--hotate{
    top: 0;
    left: initial;
    right: -12rem;
    transform: translateY(0);
  }

  .feature-illust--konbu{
    top : initial;
    bottom: -5rem;
    left: -15rem;
  }
  .top-illust{
  }
  .top-illust__wrap{
    display: block;
    margin: 0 40px 0 0;
    width: initial;
    /* margin-right: 40px; */
  }


  .top-illust__img--hotate {
    width: 7.5rem;
    aspect-ratio: 108 / 105;
    margin-right: 1.6rem;
    margin-left: auto;
  }

  .top-illust__img--konbu {
    width: 4.5rem;
    aspect-ratio: 65 / 110;
    margin-right: 0;
    margin-top: 6rem;
    margin-left: auto;
  }


  .sec-shikabe__feature2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6rem;
    width: calc(760 / 1280 * 100vw);
    max-width: 76rem;
    margin-left: auto;
    margin-right: auto;
  }

  .eat__img{
    width: 40rem;
    max-width: calc(400 / 1280 * 100vw);
    border: 10px solid #fff;
  }

  .eat__img--right {
    margin-top: 0;
  }

  .eat__img--left{
    position: relative;
    z-index: 2;
    margin-left: 5.5rem;
    margin-top: -2.5rem;
  }

  .sns{
    margin-bottom: 1rem;
  }
  .nav__list{
    margin-right: 4rem;
  }
  .dropdown__list a{
    font-size: 1.4rem;
  }

}
@media screen and (min-width: 1150px) {
  .nav__list{
    margin-right: 5rem;
  }
  .nav__list a{
    font-size: 2.2rem;
  }
  .dropdown__list a{
    font-size: 1.4rem;
  }
  .sns{
    margin-right: 15rem;
    margin-bottom: 1rem;
  }
  .nav-illust__img{
    width: 13.6rem;
  }
  .top-illust__img--hotate {
    width: 10.8rem;
  }
  .top-illust__img--konbu {
    width: 6.5rem;
  }
}

.info-wrap{
  position: relative;
  aspect-ratio: 375 / 250;
}
.info-wrap__box{
  width: calc(100% - 10 * 2px);
  height: calc(100% - 10 * 2px);
  border: 1px solid #fff;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
}
.info-wrap__box-inner{
  display: flex;
  flex-direction: column;
  height: inherit;
  margin-top: calc(60 / 375 * 100%);
  margin-bottom: calc(20 / 375 * 100%);
}
.info-wrap__title{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.info-wrap__btn{
  max-width: 19rem;
  margin: auto auto 0;
}
@media screen and (min-width: 768px) {
  .info-wrap__box-inner{
    margin-top: calc(300 / 1280 * 100%);
    margin-bottom: calc(70 / 1280 * 100%);

  }

  .info-wrap__title{
    font-size: 4.8rem;
  }
}
