.grecaptcha-badge {
  bottom: 15% !important;
}

/*=================================
  global
=================================*/
.sec {
  padding-top: 17%;
}

.is-center {
  margin: 0 auto;
}

.mainContents {
  padding-top: 10%;
}

@media screen and (min-width: 768px) {
  .sec {
    padding-top: 10%;
  }

  .mainContents {
    padding-top: 10.5%;
  }
}
/*=================================
  inner
=================================*/
.secondaryInner {
  max-width: 760px;
  padding-bottom: 20%;
}

@media screen and (min-width: 768px) {
  .secondaryInner {
    padding-bottom: 7%;
  }
}
/*=================================
  title
=================================*/
.pageTtl {
  color: #4388D9;
  text-align: center;
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 16%;
  font-size: 5.8666666667vw;
}

@media screen and (min-width: 768px) {
  .pageTtl {
    font-size: 2.5vw;
    margin-bottom: 6%;
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .pageTtl {
    font-size: 32px;
  }
}
/*=================================
  btn
=================================*/
.btn {
  text-align: center;
}
.btn a {
  display: inline-block;
  width: 100%;
  line-height: 2.4;
  font-size: 5.3333333333vw;
  box-sizing: border-box;
  transition: .3s;
  padding: 2% 0;
}
.btn a:hover {
  opacity: .8;
}
.btn.btn-basic a {
  background: #F2902A;
  color: #FFF;
}

.btn-more {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.btn-more a {
  background: #F2902A;
  width: 100%;
  color: #FFF;
  display: inline-block;
  line-height: 2.6;
  position: relative;
  z-index: 1;
  transition: .3s;
  font-size: 5.3333333333vw;
}
.btn-more a:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  transition: .3s ease;
  z-index: -1;
}
.btn-more a span {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: solid 2px #F2902A;
  box-sizing: border-box;
}
.btn-more a span:after, .btn-more a span:before {
  content: "";
  display: block;
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 1px;
}
.btn-more a span:after {
  background: url("../img/common/arrow_white.svg") no-repeat right center;
  background-size: contain;
  opacity: 1;
}
.btn-more a span:before {
  background: url("../img/common/arrow.svg") no-repeat right center;
  background-size: contain;
  opacity: 0;
  transform: translateX(-40px);
  transition: .8s ease;
}
.btn-more a:hover {
  color: #000;
}
.btn-more a:hover:before {
  width: 100%;
}
.btn-more a:hover span:after {
  opacity: 0;
}
.btn-more a:hover span:before {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .btn a {
    font-size: 1.5625vw;
  }
  .btn.btn-basic {
    max-width: 300px;
  }

  .btn-more a {
    font-size: 1.5625vw;
  }
}
@media screen and (min-width: 1280px) {
  .btn a {
    font-size: 20px;
  }

  .btn-more a {
    font-size: 20px;
  }
}
/*=================================
  postList
=================================*/
.postList .col {
  border: solid 1px #ABAAAA;
  box-sizing: border-box;
  position: relative;
  transition: .3s;
  background: #FFF;
}
.postList .col a {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.postList .col:hover {
  opacity: .8;
}
.postList .thumb {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.postList .thumb:before {
  content: "";
  display: block;
  padding-top: 66%;
}
.postList .thumb img {
  width: 100%;
  max-width: none;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.postList .thumb .new {
  display: block;
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
}
.postList .thumb .new img {
  width: auto;
  position: static;
  transform: translate(0%, 0%);
}
.postList .detail {
  padding: 2rem;
}
.postList .detail .date {
  font-size: 3.7333333333vw;
  margin-bottom: 2rem;
}
.postList .detail .ttl {
  font-weight: bold;
  margin-bottom: 2rem;
}
.postList .detail .cate {
  display: inline-block;
  color: #FFF;
  line-height: 1.0;
  padding: 2% 3%;
  margin-bottom: 1rem;
}
.postList .detail .writer {
  text-align: right;
  margin-bottom: 2rem;
}
.postList .detail .writer span {
  display: inline-block;
  color: #F2902A;
  border: solid 1px #F2902A;
  border-radius: 7px;
  line-height: 1.0;
  padding: 2% 3%;
}
.postList .detail .hashtags {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-bottom: -1rem;
}
.postList .detail .hashtags li {
  font-size: 3.7333333333vw;
  display: inline-block;
  color: #2680EB;
  border: solid 1px #2680EB;
  border-radius: 13px;
  line-height: 1.0;
  padding: 2% .5em;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.cate.blog {
  background: #FF001C;
}

.cate.tsushin {
  background: #FF001C;
}

.cate.recipe {
  background: #FF7424;
}

.cate.relay {
  background: #88CE36;
}

.cate.info {
  background: #000;
}

.cate.news {
  background: #000;
}

.cate.event {
  background: #000;
}

.cate.recruit {
  background: #4388D9;
}

.cate.full {
  background: #4388D9;
}

.cate.not_full {
  background: #4388D9;
}

.cate.market {
  background: #2353D8;
}

.cate.business {
  background: #449036;
}

@media screen and (min-width: 768px) {
  .postList .detail {
    padding: 1rem;
  }
  .postList .detail .date {
    font-size: 1.25vw;
    margin-bottom: 1rem;
  }
  .postList .detail .ttl {
    font-size: 1.40625vw;
    margin-bottom: 1rem;
  }
  .postList .detail .hashtags li {
    font-size: 1.09375vw;
  }
}
@media screen and (min-width: 1280px) {
  .postList .detail .date {
    font-size: 16px;
  }
  .postList .detail .ttl {
    font-size: 18px;
  }
  .postList .detail .hashtags li {
    font-size: 14px;
  }
}
/*=================================
  breadcrumb
=================================*/
.breadcrumb {
  width: 95%;
  margin: 0 auto 10%;
}
.breadcrumb ol {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  display: flex;
}
.breadcrumb ol li {
  font-size: 3.2vw;
  line-height: 2.0;
}
.breadcrumb ol li:after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  vertical-align: middle;
  margin: 0 1rem;
  border-radius: 0px;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.breadcrumb ol li:last-child:after {
  content: none;
}
.breadcrumb a {
  color: #2680EB;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .breadcrumb {
    width: 100%;
    box-sizing: border-box;
    padding: 0 6%;
    margin-bottom: 3%;
    background: #EDEDED;
  }
  .breadcrumb ol li {
    font-size: 1.09375vw;
  }
}
@media screen and (min-width: 1280px) {
  .breadcrumb ol li {
    font-size: 14px;
  }
}
/*=================================
  contactBlk
=================================*/
.contactBlk {
  margin-top: 16%;
  background: #F2F2F2;
  padding: 5%;
  font-size: 5.3333333333vw;
}
.contactBlk p:nth-of-type(1) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .contactBlk {
    margin-top: 6%;
    font-size: 1.5625vw;
    display: flex;
    align-items: center;
    padding: 4%;
  }
  .contactBlk p:nth-of-type(1) {
    margin-right: 15%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .contactBlk {
    font-size: 20px;
  }
}
/*=================================
  snsBlk
=================================*/
.snsBlk {
  padding: 13% 0;
}
.snsBlk ul {
  width: 100%;
  display: flex;
}

@media screen and (min-width: 768px) {
  .snsBlk {
    padding-top: 3%;
    margin-bottom: 0;
  }
  .snsBlk ul li {
    width: 3%;
    max-width: 36px;
    transition: .3s;
  }
  .snsBlk ul li:hover {
    opacity: .8;
  }
}
/*=================================
  Phase2
=================================*/
.pageTtlArea {
  margin-bottom: 14%;
}
.pageTtlArea h2 {
  text-align: center;
  color: #4388D9;
  font-weight: bold;
  position: relative;
  font-size: 6.9333333333vw;
}
.pageTtlArea h2 span {
  display: inline-block;
  background: #FFF;
  position: relative;
  z-index: 1;
  padding: 0 2rem;
}
.pageTtlArea.cateTop h2:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #4388D9;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.bottomContact .inner {
  border-radius: 20px;
  padding: 10% 5% 0;
  box-sizing: border-box;
  text-align: center;
  background: #EDEDED;
}
.bottomContact .contact {
  margin-bottom: 10%;
}
.bottomContact .contact a {
  font-size: 5.8666666667vw;
  display: inline-block;
  color: #FFF;
  background: #F2902A;
  width: 100%;
  line-height: 2.4;
}
.bottomContact p {
  margin-bottom: 8%;
}
.bottomContact img {
  width: 70%;
  margin: 0 auto;
}

.pageFv {
  margin-bottom: 14%;
}
.pageFv img {
  margin-bottom: 14%;
}
.pageFv p {
  width: 90%;
  max-width: 760px;
  margin: 0 auto;
}

.catePageList .inner {
  width: 100%;
}
.catePageList ul {
  margin-bottom: -18%;
}
.catePageList ul li {
  margin-bottom: 18%;
}
.catePageList ul li .mainLink {
  position: relative;
}
.catePageList ul li .wrap {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  position: absolute;
}
.catePageList ul li .txtArea {
  width: 100%;
  height: 0;
  padding: 77% 5% 0;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 12%;
  z-index: 2;
}
.catePageList ul li .txtArea div {
  width: 100%;
  padding: 0 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
.catePageList ul li .txtArea h3 {
  font-weight: bold;
  font-size: 6.4vw;
  margin-bottom: 5%;
}
.catePageList ul li .txtArea h3 span {
  background: linear-gradient(transparent 70%, #8CBEE8 30%);
}
.catePageList ul li .btnArea .btn-more {
  margin: 0 auto;
  max-width: 298px;
}
.catePageList .cateTxtLink_blk ul {
  margin-bottom: -1rem;
}
.catePageList .cateTxtLink_blk ul li {
  margin-bottom: 1rem;
}

.cateTxtLink_blk {
  background: #EDEDED;
  padding: 5%;
}
.cateTxtLink_blk p {
  font-weight: bold;
  text-align: center;
  font-size: 4.8vw;
  margin-bottom: 1rem;
}
.cateTxtLink_blk ul {
  margin-bottom: -1rem;
}
.cateTxtLink_blk ul li {
  margin-bottom: 1rem;
}
.cateTxtLink_blk ul li a {
  color: #2680EB;
  text-decoration: underline;
}
.cateTxtLink_blk ul li a:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 0px;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 1rem;
}

.readTxt {
  font-size: 4.8vw;
}

.infoBlk {
  margin-bottom: 20%;
}
.infoBlk h3 {
  font-weight: bold;
  font-size: 6.4vw;
  position: relative;
  margin-bottom: 8%;
}
.infoBlk h3 span {
  display: inline-block;
  background: #FFF;
  padding-left: 5%;
  padding-right: 1rem;
  position: relative;
  z-index: 1;
}
.infoBlk h3:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}
.infoBlk .imgBlk {
  margin-bottom: 8%;
}
.infoBlk .txtBlk {
  padding: 0 5%;
}
.infoBlk .txtBlk p {
  text-align: justify;
}

.tableBlk {
  margin-top: 12%;
}
.tableBlk h4 {
  font-weight: bold;
  text-align: center;
  font-size: 5.3333333333vw;
  margin-bottom: 2rem;
}

.secondaryBlkTtl {
  font-size: 6.4vw;
  position: relative;
  text-align: center;
  margin-bottom: 6%;
  font-weight: bold;
}
.secondaryBlkTtl span {
  display: inline-block;
  background: #FFF;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}
.secondaryBlkTtl:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}

.infoSec {
  margin-bottom: 20%;
}
.infoSec .wrap .intro {
  margin-bottom: 8%;
}
.infoSec .wrap .intro p {
  padding: 0 5%;
}
.infoSec .wrap .address {
  padding: 0 5%;
}
.infoSec .wrap img {
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .tableArea {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1rem;
  }
  .tableArea img {
    width: 1000px;
  }
  .tableArea::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .tableArea::-webkit-scrollbar-track {
    background: #EDEDED;
  }
  .tableArea::-webkit-scrollbar-thumb {
    background: #4388D9;
    border-radius: 5px;
  }
}
.bottomContact + .bottomLinks {
  padding-top: 0;
}

.cateTxtLink_wrap + .bottomContact {
  margin-top: 14%;
}

.infoTable {
  width: 100%;
  background: #FFF;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: solid 1px #707070;
  border-left: solid 1px #707070;
  text-align: center;
  font-size: 4.8vw;
}
.infoTable thead th {
  background: #CECBCB;
}
.infoTable tbody th {
  text-align: left;
}
.infoTable th, .infoTable td {
  border-bottom: solid 1px #707070;
  border-right: solid 1px #707070;
  padding: .5rem 0.8rem;
}
.infoTable td {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .pageTtlArea {
    margin-bottom: 3%;
  }
  .pageTtlArea h2 {
    font-size: 2.5vw;
  }

  .bottomContact {
    margin-bottom: 10%;
    position: relative;
  }
  .bottomContact .inner {
    padding: 4% 3%;
    background: url("../img/common/bottomContact_pc.png") no-repeat bottom center #EDEDED;
    background-size: 90%;
  }
  .bottomContact .contact {
    margin-bottom: 3rem;
  }
  .bottomContact .contact a {
    font-size: 1.875vw;
    display: inline-block;
    width: auto;
    padding: 0 8%;
    line-height: 2.0;
    transition: .3s;
  }
  .bottomContact .contact a:hover {
    opacity: .8;
  }
  .bottomContact p {
    margin-bottom: 0;
    font-size: 1.40625vw;
  }
  .bottomContact img {
    width: 90%;
    max-width: 950px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .bottomLinks {
    padding-top: 10%;
    margin-bottom: 4%;
  }
  .bottomLinks ul {
    display: flex;
    justify-content: center;
  }
  .bottomLinks ul li a {
    font-size: 1.71875vw;
    font-weight: bold;
  }
  .bottomLinks ul li:after {
    content: "|";
    display: inline-block;
    margin: 0 1.5rem;
  }
  .bottomLinks ul li:first-child:before {
    content: "|";
    display: inline-block;
    margin: 0 1.5rem;
  }
  .bottomLinks ul li:hover a {
    border-bottom: solid 3px #F2902A;
  }

  .categoryLinks {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
  }
  .categoryLinks li a {
    font-size: 1.40625vw;
    line-height: 1.0;
    transition: .3s;
  }
  .categoryLinks li a:after {
    content: "|";
    display: inline-block;
    margin: 0 1.5rem;
  }
  .categoryLinks li a:hover {
    opacity: .8;
  }
  .categoryLinks li:first-child a:before {
    content: "|";
    display: inline-block;
    margin: 0 1.5rem;
  }

  .pageFv {
    margin-bottom: 4%;
  }
  .pageFv img {
    margin-bottom: 4%;
  }

  .catePageList ul {
    margin-bottom: -12%;
  }
  .catePageList ul li {
    margin-bottom: 12%;
  }
  .catePageList ul li .wrap {
    width: 100%;
    height: 100%;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .catePageList ul li:nth-child(even) .wrap {
    flex-direction: row-reverse;
  }
  .catePageList ul li .txtArea {
    width: 48%;
    height: 100%;
    padding: 0%;
    margin-bottom: 0%;
  }
  .catePageList ul li .txtArea h3 {
    font-size: 2.34375vw;
    margin-bottom: 5%;
  }
  .catePageList ul li .txtArea p {
    font-size: 1.40625vw;
  }
  .catePageList ul li .btnArea {
    width: 48%;
  }

  .cateTxtLink_blk {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cateTxtLink_blk p {
    font-size: 1.71875vw;
    margin-bottom: 0;
    width: 50%;
  }
  .cateTxtLink_blk ul {
    width: 50%;
    text-align: center;
    padding-left: 10%;
    box-sizing: border-box;
  }
  .cateTxtLink_blk ul li {
    font-size: 1.40625vw;
    text-align: left;
  }

  .readTxt {
    font-size: 1.40625vw;
  }

  .infoBlk {
    margin-bottom: 10%;
    overflow: hidden;
  }
  .infoBlk h3 {
    font-size: 2.5vw;
    margin-bottom: 5%;
  }
  .infoBlk h3 span {
    padding-left: 0;
  }
  .infoBlk h3:after {
    width: 200%;
  }
  .infoBlk p {
    font-size: 1.40625vw;
  }
  .infoBlk .wrap {
    width: 95%;
    max-width: calc(100% - (50% - 560px));
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .infoBlk .wrap .imgBlk {
    width: 50%;
    margin-bottom: 0;
  }
  .infoBlk .wrap .txtBlk {
    width: 45%;
    padding: 0;
  }

  .tableBlk {
    margin-top: 6%;
  }
  .tableBlk h4 {
    font-size: 1.71875vw;
  }

  .cateTxtLink_wrap + .bottomContact {
    margin-top: 10%;
  }

  .secondaryBlkTtl {
    font-size: 2.5vw;
    margin-bottom: 3%;
  }

  .infoSec {
    margin-bottom: 10%;
  }
  .infoSec .wrap {
    display: flex;
    justify-content: space-between;
  }
  .infoSec .wrap .intro {
    margin-bottom: 0;
    margin-right: 2.67%;
  }
  .infoSec .wrap .intro p {
    width: 92%;
    padding: 0;
    margin: 0 0 0 auto;
  }
  .infoSec .wrap .address {
    padding: 0;
  }
  .infoSec .wrap .address .txtArea {
    padding-right: 5%;
  }

  .infoTable {
    font-size: 1.25vw;
  }
}
@media screen and (min-width: 1280px) {
  .pageTtlArea h2 {
    font-size: 32px;
  }

  .bottomContact .contact a {
    font-size: 24px;
  }
  .bottomContact p {
    font-size: 18px;
  }

  .bottomLinks ul li a {
    font-size: 22px;
  }

  .categoryLinks li a {
    font-size: 18px;
  }

  .catePageList ul li .txtArea h3 {
    font-size: 30px;
  }
  .catePageList ul li .txtArea p {
    font-size: 18px;
  }

  .cateTxtLink_blk p {
    font-size: 22px;
  }
  .cateTxtLink_blk ul li {
    font-size: 18px;
  }

  .readTxt {
    font-size: 18px;
  }

  .infoBlk h3 {
    font-size: 32px;
  }
  .infoBlk p {
    font-size: 18px;
  }
  .infoBlk .tableBlk h4 {
    font-size: 22px;
  }

  .secondaryBlkTtl {
    font-size: 32px;
  }

  .infoTable {
    font-size: 18px;
  }
}
/*=================================
  layout
=================================*/
.is-flex {
  flex: none;
}

.col {
  margin-bottom: 13%;
}

.is-flex.gutters {
  margin-left: -2.67%;
}

.is-flex.gutters > .col {
  margin-left: 2.67%;
}

.is-flex.is-mobile {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.is-flex.gutters.is-offset {
  margin-left: 0;
}

.is-flex.gutters.is-offset > .col {
  margin-left: 0;
}

.is-flex.is-cut {
  margin-bottom: -13%;
}

@media screen and (min-width: 768px) {
  .is-flex {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .col {
    margin-bottom: 4%;
  }

  .is-flex.is-mobile > * + * {
    margin-top: 0%;
  }

  .is-flex.gutters.is-offset {
    margin-left: -2.67%;
  }

  .is-flex.gutters.is-offset > .col {
    margin-left: 2.67%;
  }

  .is-flex.is-cut {
    margin-bottom: -4%;
  }
}
/*=================================
  column
=================================*/
.is-mb1 {
  width: 8.333333%;
}

.is-mb2 {
  width: calc(8.333333% * 2);
}

.is-mb3 {
  width: calc(8.333333% * 3);
}

.is-mb4 {
  width: calc(8.333333% * 4);
}

.is-mb5 {
  width: calc(8.333333% * 5);
}

.is-mb6 {
  width: calc(8.333333% * 6);
}

.is-mb7 {
  width: calc(8.333333% * 7);
}

.is-mb8 {
  width: calc(8.333333% * 8);
}

.is-mb9 {
  width: calc(8.333333% * 9);
}

.is-mb10 {
  width: calc(8.333333% * 10);
}

.is-mb11 {
  width: calc(8.333333% * 11);
}

.is-mb12 {
  width: 100%;
}

.is-flex.gutters > .is-mb1 {
  width: calc(8.333333% - 2.67%);
}

.is-flex.gutters > .is-mb2 {
  width: calc(8.333333% * 2 - 2.67%);
}

.is-flex.gutters > .is-mb3 {
  width: calc(8.333333% * 3 - 2.67%);
}

.is-flex.gutters > .is-mb4 {
  width: calc(8.333333% * 4 - 2.67%);
}

.is-flex.gutters > .is-mb5 {
  width: calc(8.333333% * 5 - 2.67%);
}

.is-flex.gutters > .is-mb6 {
  width: calc(8.333333% * 6 - 2.67%);
}

.is-flex.gutters > .is-mb7 {
  width: calc(8.333333% * 7 - 2.67%);
}

.is-flex.gutters > .is-mb8 {
  width: calc(8.333333% * 8 - 2.67%);
}

.is-flex.gutters > .is-mb9 {
  width: calc(8.333333% * 9 - 2.67%);
}

.is-flex.gutters > .is-mb10 {
  width: calc(8.333333% * 10 - 2.67%);
}

.is-flex.gutters > .is-mb11 {
  width: calc(8.333333% * 11 - 2.67%);
}

.is-flex.gutters > .is-mb12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .is-pc1 {
    width: 8.333333%;
  }

  .is-pc2 {
    width: calc(8.333333% * 2);
  }

  .is-pc3 {
    width: calc(8.333333% * 3);
  }

  .is-pc4 {
    width: calc(8.333333% * 4);
  }

  .is-pc5 {
    width: calc(8.333333% * 5);
  }

  .is-pc6 {
    width: calc(8.333333% * 6);
  }

  .is-pc7 {
    width: calc(8.333333% * 7);
  }

  .is-pc8 {
    width: calc(8.333333% * 8);
  }

  .is-pc9 {
    width: calc(8.333333% * 9);
  }

  .is-pc10 {
    width: calc(8.333333% * 10);
  }

  .is-pc11 {
    width: calc(8.333333% * 11);
  }

  .is-pc12 {
    width: 100%;
  }

  .is-flex.gutters > .is-pc1 {
    width: calc(8.333333% - 2.67%);
  }

  .is-flex.gutters > .is-pc2 {
    width: calc(8.333333% * 2 - 2.67%);
  }

  .is-flex.gutters > .is-pc3 {
    width: calc(8.333333% * 3 - 2.67%);
  }

  .is-flex.gutters > .is-pc4 {
    width: calc(8.333333% * 4 - 2.67%);
  }

  .is-flex.gutters > .is-pc5 {
    width: calc(8.333333% * 5 - 2.67%);
  }

  .is-flex.gutters > .is-pc6 {
    width: calc(8.333333% * 6 - 2.67%);
  }

  .is-flex.gutters > .is-pc7 {
    width: calc(8.333333% * 7 - 2.67%);
  }

  .is-flex.gutters > .is-pc8 {
    width: calc(8.333333% * 8 - 2.67%);
  }

  .is-flex.gutters > .is-pc9 {
    width: calc(8.333333% * 9 - 2.67%);
  }

  .is-flex.gutters > .is-pc10 {
    width: calc(8.333333% * 10 - 2.67%);
  }

  .is-flex.gutters > .is-pc11 {
    width: calc(8.333333% * 11 - 2.67%);
  }

  .is-flex.gutters > .is-pc12 {
    width: 100%;
  }
}
