.secondaryInner {
  padding-bottom: 14%;
}

.readTxt {
  text-align: center;
}

.sitemap .thumb {
  margin-bottom: 1rem;
}
.sitemap a {
  transition: .3s;
}
.sitemap a:hover {
  opacity: .8;
}
.sitemap .parent {
  margin-bottom: 1rem;
}
.sitemap .parent a {
  width: 100%;
  display: inline-block;
  font-weight: bold;
  font-size: 5.3333333333vw;
  position: relative;
}
.sitemap .parent a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border-radius: 0px;
  border-top: 3px solid #666;
  border-right: 3px solid #666;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sitemap .child {
  padding-left: 1rem;
}
.sitemap .child li {
  margin-bottom: 1rem;
}
.sitemap .child li a {
  font-size: 4.8vw;
}
.sitemap .child li a:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  border-radius: 0px;
  border-top: 3px solid #666;
  border-right: 3px solid #666;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -3px;
  margin-right: 1rem;
}
.sitemap .child li p {
  font-size: 4.8vw;
  margin-left: 2rem;
  margin-top: 1em;
}
.sitemap .child li ul {
  margin-top: 1rem;
  margin-left: 2rem;
}
.sitemap .child li ul li a {
  font-size: 4.2666666667vw;
}
.sitemap .child:nth-of-type(2) {
  margin-top: 4rem;
}
.sitemap .box {
  box-sizing: border-box;
  padding: 2rem 1rem 1rem;
  background: #EDEDED;
}

@media screen and (min-width: 768px) {
  .secondaryInner {
    padding-bottom: 5%;
  }

  .sitemap .parent a {
    font-size: 2.1875vw;
  }
  .sitemap .child li a {
    font-size: 1.5625vw;
  }
  .sitemap .child li p {
    font-size: 1.5625vw;
  }
  .sitemap .child li ul li a {
    font-size: 1.40625vw;
  }
  .sitemap .col {
    margin-bottom: 7%;
  }
  .sitemap .is-flex.gutters.is-offset {
    margin-left: -7%;
  }
  .sitemap .is-flex.gutters.is-offset > .col {
    margin-left: 7%;
  }
  .sitemap .is-flex.gutters > .is-pc6 {
    width: calc(8.333333% * 6 - 7%);
  }
}
@media screen and (min-width: 1280px) {
  .sitemap .parent a {
    font-size: 28px;
  }
  .sitemap .child li a {
    font-size: 20px;
  }
  .sitemap .child li p {
    font-size: 20px;
  }
  .sitemap .child li ul li a {
    font-size: 18px;
  }
}
